body {
  margin: 0;
}

#gameboy {
  background: gold;
  /* background: linear-gradient(#998000, gold, #998000); */
  background: radial-gradient(ellipse at 50% 30%, gold, #a88c00);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  touch-action: none;
  text-align: center;
  -webkit-touch-callout: none;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#menu {
  height: 40px;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

#file_input {
  display: none;
}

#game_name {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

#game {
  touch-action: none;
  display: flex;
}

#game canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: gray;
  border: 8px solid black;
  border-radius: 9px;
  flex-grow: 1;
  height: unset !important;
  width: unset !important;
}

#controller {
  touch-action: none;
  opacity: 0.8;
  position: relative;
  flex-grow: 1;
  margin-top: 5px;
}

#controller div {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

#controller_dpad {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 184px;
  height: 184px;
  box-shadow: none !important;
}

#controller_dpad:before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background: #0011a8;
  background: radial-gradient(ellipse at center,
      #0011a8 0%,
      #000e8a 59%,
      #0011a8 60%);
  position: absolute;
  left: 68px;
  top: 68px;
}

#controller_left {
  position: absolute;
  left: 20px;
  top: 68px;
  width: 48px;
  height: 48px;
  background: #0014cc;
  background: radial-gradient(ellipse at center, #0014cc 0%, #0011a8 80%);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#controller_right {
  position: absolute;
  left: 116px;
  top: 68px;
  width: 48px;
  height: 48px;
  background: #0014cc;
  background: radial-gradient(ellipse at center, #0014cc 0%, #0011a8 80%);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#controller_up {
  position: absolute;
  left: 68px;
  top: 20px;
  width: 48px;
  height: 48px;
  background: #0014cc;
  background: radial-gradient(ellipse at center, #0014cc 0%, #0011a8 80%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#controller_down {
  position: absolute;
  left: 68px;
  top: 116px;
  width: 48px;
  height: 48px;
  background: #0014cc;
  background: radial-gradient(ellipse at center, #0014cc 0%, #0011a8 80%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#controller_a {
  color: #43100f;
  background: #ab1414;
  background: radial-gradient(ellipse at center, #ab1414 0%, #8b1f1d 100%);
  position: absolute;
  top: 95px;
  right: 20px;
}

#controller_b {
  color: #0f4312;
  background: #14a919;
  background: radial-gradient(ellipse at center, #14a919 0%, #1e8a24 100%);
  position: absolute;
  top: 125px;
  right: 105px;
}

.roundBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 64px;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.capsuleBtn {
  font-weight: 900;
  font-size: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  text-transform: uppercase;
  width: 64px;
  height: 32px;
  border-radius: 40px;
  background: #4d4d4d;
  background: radial-gradient(ellipse at center, #4d4d4d 0%, #292929 100%);
}

#controller_open {
  position: absolute;
  top: 20px;
  left: 20px;
}

#controller_open:active {
  opacity: 0.5;
}

#controller_pause {
  position: absolute;
  top: 20px;
  left: 105px;
}

#controller_start {
  position: absolute;
  top: 20px;
  right: 20px;
}

#controller_select {
  position: absolute;
  top: 20px;
  right: 105px;
}

.btnPressed {
  opacity: 0.5;
}

@media only screen and (orientation: landscape) {
  #game div {
    flex-grow: 1;
  }

  #controller {
    position: unset;
  }
}